:host {
  background: #f6f6f6;

  .cis-manual {
    width: 100%;
    height: 100%;
    display: flex;

    .cis-module-list {
      display: flex;
      flex: 1;
      max-width: 400px;
      flex-direction: column;
      margin: 10px;
      border: 1px solid lightgrey;

      dx-data-grid {
        flex: 1;
        /* Костыль из-за обновления Хрома */
        min-height: 0; 
      }

      dx-toolbar {
        padding: 0 10px;
      }

    }

    .cis-manual-list {
      display: flex;
      flex: 2;
      margin: 10px;
      margin-left: 0px;
      border: 1px solid lightgrey;
    }
  }
}